.dish-detail-container {
    margin: auto;
    // width: 100%;

    // @media (min-width: $desktop-breakpoint) {
    //     width: 75%
    // }
}

.dish-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.dish-ingredients-list {
    float: right;
}

.recipes-header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.recipes-header__items {
    margin: 1em 1em 1em 0;
    text-align: center;
}