.ui.form {
    display: flex;
    flex-direction: column;

    // > * {
    //     margin-bottom: $m-size;
    // }
}

.form-group {
    display: flex;
    flex-direction: column;;
}

.form-container {
    width: 80%;
    margin: auto;
}

.form-item {
    margin-right: 1rem;
    
}

.form-dropdown-group {
    display: flex;
    flex-direction: row;
    padding: 0.5em;
}

.form-recipes {
    display: flex;
    flex-direction: column;
}

.form-textarea {
    margin-bottom: 1.5em;
}

.form__error {
    margin: 0 0 $m-size 0;
    font-style: italic;
}