.header {
    background: white;
    // background-image: linear-gradient($mint, $off-white);
    // height: 200%;
}

.header__content {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: $s-size 0;
};

.header__title {
    color: $mint;
    text-decoration: none;
    padding: 0 $s-size;
    h1 {
        margin: 0;
    }
}

.ui.menu {
    body{
        color: $mint;
    }
}