.ingredient-table {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    // flex-direction: row;
    // justify-content: space-between;
    width: 100%;
  
    @media (min-width: $desktop-breakpoint) {
        width: 75%
    }
  
      // & > * {
      //   margin-left: 14px;
      //   margin-bottom: 24px;
      // }
  }