.recipe-list-item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 50%
}

.list-pagination {
    display: flex;
    position: relative;
    justify-content: center;
    padding-bottom: $m-size;

    @media (min-width: $desktop-breakpoint) {
        padding-bottom: $l-size;
    }
}

.list-item--message {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $grey;
    justify-content: center;
    padding: $m-size;
    &:hover {
        background: none
    }
}