.recipe-group__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%
}

.recipe-group__link {
    width: 100%;
    padding: 0.5rem 1rem;
    
}

.recipe-group__button {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}