.ui.form {
    display: flex;
    flex-direction: column;
}

.form-title {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: $s-size/2 0;
}

.form-container {
    margin: auto;
    margin-bottom: $s-size;
    width: 80%;
}

.form__error {
    margin: 0 0 $m-size 0;
    font-style: italic;
}