.recipe-table {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.recipe-dropdown {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 0.5rem;
}

.recipe-group__tags {
    display: flex;
    justify-content: flex-start;
    padding-top: 0.5rem;
    margin-left: $s-size;
    flex-direction: row;
}

.recipe-group__tag-item {
    padding: 0.2rem;
}

.recipe-segment {
    width: 100%;
    padding: 0.5rem 1rem;
    margin: auto;
}

.recipe-group__tiny-link {
    padding-left: $s-size;
    padding-right: $s-size;
}