.input-group {
    margin: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: $m-size;
    justify-content: center;
    // width: 100%;

    @media (min-width: $desktop-breakpoint) {
        margin-bottom: $l-size;
        // width: 70%
    }
}

.input-group__dropdowns {
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media (min-width: $desktop-breakpoint) {
        flex-direction: row;
    }
}




.input-group__input {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: $s-size;
    flex-flow: row wrap;
    .ui.big.input {
        margin-bottom: $s-size;
    }

    @media (min-width: $desktop-breakpoint) {
        margin: 0 $s-size 0 0;
    }
}

.input-group__item {
    margin-bottom: $s-size;

    @media (min-width: $desktop-breakpoint) {
        margin: 0 $s-size 0 0;
    }
}